#box{
    width: 200px;
    height: 100px;
    background-color: blue;
    border-radius: 20px;
    animation-name: ani1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    overflow: hidden;
}

@keyframes ani1 {
    0%{
        margin-top: 0;
        margin-left: 0;
    }

    25%{
        margin-top: 0;
        margin-left: calc(100vw - 200px);
        background-color: purple;
        rotate: 180deg;
    }

    50%{
        margin-top: calc(100vh - 100px);
        margin-left: calc(100vw - 200px);
        background-color: green;
        rotate: 270deg;
    }

    75%{
        margin-left: 0;
        margin-top: calc(100vh - 100px);
        background-color: orange;
    }

    100%{
        margin-top: 0;
        margin-left: 0;
    }
}