body>div{
    width: 100%;
    height: 783px;
    background-image: url("Car_Animation_Img/sky.jpg");
}

main>section:nth-child(1){
    display: flex;
    top: 470px;
    position: absolute;

    animation-name: carAnim ;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

main>section:nth-child(2){
    display: flex;
    top: 625px;
    position: absolute;

    animation-name: carAnim ;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

main>section>div{
    width: 50vw;
    height: 20vh;
}

main>section:nth-child(1)>div:nth-child(1){
    background-image: url("Car_Animation_Img/city.png");
    background-size: cover;
    background-position: center;
}

main>section:nth-child(1)>div:nth-child(2){
    background-image: url("Car_Animation_Img/city.png");
    background-size: cover;
    background-position: center;
}

main>section:nth-child(1)>div:nth-child(3){
    background-image: url("Car_Animation_Img/city.png");
    background-size: cover;
    background-position: center;
}

main>section:nth-child(1)>div:nth-child(4){
    background-image: url("Car_Animation_Img/city.png");
    background-size: cover;
    background-position: center;
}

main>section:nth-child(1)>div:nth-child(5){
    background-image: url("Car_Animation_Img/city.png");
    background-size: cover;
    background-position: center;
}

main>section:nth-child(1)>div:nth-child(6){
    background-image: url("Car_Animation_Img/city.png");
    background-size: cover;
    background-position: center;
}

main>section:nth-child(2)>div:nth-child(1){
    background-image: url("Car_Animation_Img/road.jpg");
    background-size: cover;
    background-position: center;
}

main>section:nth-child(2)>div:nth-child(2){
    background-image: url("Car_Animation_Img/road.jpg");
    background-size: cover;
    background-position: center;
}

main>section:nth-child(2)>div:nth-child(3){
    background-image: url("Car_Animation_Img/road.jpg");
    background-size: cover;
    background-position: center;
}

main>section:nth-child(2)>div:nth-child(4){
    background-image: url("Car_Animation_Img/road.jpg");
    background-size: cover;
    background-position: center;
}

main>section:nth-child(2)>div:nth-child(5){
    background-image: url("Car_Animation_Img/road.jpg");
    background-size: cover;
    background-position: center;
}

main>section:nth-child(2)>div:nth-child(6){
    background-image: url("Car_Animation_Img/road.jpg");
    background-size: cover;
    background-position: center;
}



body{
    overflow: hidden;
}

@keyframes carAnim {
    0%{
        transform: translateX(0%);
    }

    25%{
        transform: translateX(-25%);
    }

    50%{
        transform: translateX(-50%);
    }

    75%{
        transform: translateX(-75%);
    }
}



